DATABASE_URL=postgresql://yourusername:yourpasswordrd@localhost:5432/himti-internal-db?schema=public
PORT=8000
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8000 # Base URL of your app
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
RESEND_API_KEY=
FRONTEND_URL=http://localhost:3000
